<%- include('header_blog') -%>

  <link rel="stylesheet" href="./css/blog/index.css">
  <link rel="stylesheet" href="/css/blog/iconfont_blog_index.css">
  <div class="wrapper">
    <div class="hot-box">
      <div class="lt">
        <%- include('swiper') -%>
      </div>
      <div class="rt">
        <div class="tit">
          <h2>热门</h2>
        </div>
        <div class="swiper-container hot-list">
          <div class="swiper-wrapper"></div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
    <section class="classify">
      <div class="lt">
        <h2 class="title">分类</h2>
      </div>
      <div class="rt">
        <%for(var i=0;i<typeList.length;i++){%>
        <div class="classify-item">
          <a class="type-lk" href="/blog/articlelist?by[type_id]=<%=typeList[i]._id%>">
            <i class='<%= "iconfont icon-"+(typeList[i].type_name).toLowerCase()  %>' ></i>
            <i class='<%= "iconfont bottom icon-"+(typeList[i].type_name).toLowerCase()  %>' ></i>
            <p><%=typeList[i].type_name %></p>
          </a>
        </div>
      <%}%>
      </div>
    </section>
    <div class="line"></div>
    <section class="article">
      <artilce class="article-list">
        <h2 class='title'>最新文章
          <a href="blog/articlelist">MORE</a>
        </h2>
        <ul>
          
        </ul>
      </artilce>
      <div class="right-item">
        <h2>Tag标签</h2>
        <div class="articletag-list">
        <% if(tagList.length==0){ %>
          内容为空
        <% }else{ %>
        <% for(var i=0;i<tagList.length;i++){ %>
          <a class='tag-lk' href= "/blog/articlelist?by[tags_id]=<%=tagList[i]._id %>">
            <%= tagList[i].tag_name %>
            <div class="lk-inner">
              <div class="front"><span><%= tagList[i].tag_name %></span></div>
              <div class="back"><span><%= tagList[i].count %></span></div>
            </div>
            
          </a>
        <% }} %>
        </div>
      </div>
    </section>
<%- include('footer_blog') -%>
<script src="./js/blog/index.js"></script>
<script>

</script>