<% include common %>
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
  <h4 class="tx-gray-800 mg-b-5 mg-t-10 mg-sm-t-0">访问记录</h4>
  <p class="mg-b-0">当日所有记录列表.</p>
</div>
<div class="br-pagebody">
  <div class="br-section-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>ip</th>
          <th>UserAgent</th>
          <th>id</th>
          <th>首次访问时间</th>
          <th>最后一次访问时间</th>
        </tr>
      </thead>
      <tbody>
      <%if(datas.length===0){%>
         今天没有记录
      <%}%>
      <% for(var i=0;i<datas.length;i++){ %>
      <tr>
        <th scope="row">
          <%=i+1  %>
        </th>
        <td>
          <%= datas[i].reg_ip %>
        </td>
        <td>
          <%= datas[i].reg_user_agent %>
        </td>
        <td>
          <%= datas[i].id %>
        </td>
        <td>
          <%= datas[i].create_time %>
        </td>
        <td>
          <%= datas[i].update_time %>
        </td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>  



    <% include footer %>